@CHARSET "UTF-8";

@media ( min-width : 1025px) {
	.siteline {
		list-style: none;
		float: right;
		margin-top: 20px;
		margin-bottom: 20px;
		font-size: 10pt;
	}
	.c_id_form {
		background-color: #EAEAEA;
		width: 56%;
		height: 200px;
		border-radius: 20px;
		margin-left: 23%;
		margin-bottom: 100px;
	}
	.id_c_submit input[type="submit"] {
		/* background-color: #7DFE74;
		width: 130px;
		height: 40px; */
		background-color: #87d54d;
		border: 2px solid #f94b4b;
		padding: 5px 25px;
		border-radius: 10px;
		font-size: 14x;
		color: #f94b4b;
		font-weight: 700
	}
}