@CHARSET "UTF-8";
@media ( min-width : 1025px) {
	.siteline {
		list-style: none;
		float: right;
		margin-top: 20px;
		margin-bottom: 20px;
		font-size: 10pt;
	}
	.form2_s {
		width: 440px;
		min-width: 320px;
		height: 100px;
		margin-left: 50px;
	}
	.form2_s input[type=button] {
		background-color: #87d54d;
		border: 2px solid #f94b4b;
		border-radius: 10px;
		color: #f94b4b;
		font-weight: 700;
		height: 60px;
		width: 20%;
		margin-left: 10px;
	}
	.form3_s {
		float: left;
	}
	.form3_s label {
		width: 20%;
		height: 20px;
		float: left;
	}
	.s_Id_form {
		/* background-color: #EAEAEA; */
		 border: 2px solid #D5D5D5;
		width: 500px;
		height: 210px;
		border-radius: 20px;
		margin-left: 320px;
		
	}
	.s_Pwd_form {
		/* background-color: #EAEAEA; */
		border: 2px solid #D5D5D5;
		width: 40%;
		height: 220px;
		border-radius: 20px;
		margin-left: 320px;
	}
	 .s_form6 {
		margin-left: 30px;

	.s_form6 input[type="submit"] {
		margin-top: 5px;
		background-color: #87d54d;
		border: 2px solid #f94b4b;
		color: #f94b4b;
		border-radius: 10px;
		width: 130px;
		height: 40px;
		margin-left: 10px;
		padding: 5px 25px;
		font-weight: 700
	}
}