@CHARSET "UTF-8";
@media ( min-width : 300px) {
	.siteline {
		list-style: none;
		float: right;
		margin-top: 20px;
		margin-bottom: 20px;
		font-size: 10pt;
	}
	.blog_head_login {
	color: #87d54d;
	text-align: center;
	margin-bottom: 1em;
	}
	.form_l{
	border: 2px solid #d2d2d2;
	/* background-repeat: no-repeat; */
	width: 37%;
	margin: 0 auto;
	margin-bottom: 50px;
	}
	
	.form2_l {
		width: 100%;
		/* min-width: 320px; */
		padding-left: 6%;
		padding-right: 6%;
		/* padding-top:35px;
		padding-bottom:35px; */
	}
	.form2_l input[type=button] {
		background-color: #87d54d;
		border: 2px solid #d2d2d2;
		border-radius: 5px;
		color: #4C4C4C;
		font-weight: 600;
		height:30px;
		/* width: 120%; */
		
		
	}
	.form3_l {
		float: left;
		width:60%;
		margin-bottom:20px;
			}
	.form3_l label {
		width: 30%;
		float: left;
	}
	.form6_l {
		/* margin-left:5%; */
		margin-top:7px;
		
	}
	.form6_l input[type="submit"] {
		background-color: #87d54d;
		border: 2px solid #d2d2d2;
		padding: 5px 25px;
		border-radius: 5px;
		color: #4C4C4C;
		font-weight: 600;
		margin:0 auto;
		
	}
	
}
.loginfont
{
		color: #87d54d;
	text-align: center;
	margin-bottom: 1em;
}
.line
{
	border: 2px solid #d2d2d2;
	border-radius:5px;
	width:70%;
	text-align: center;
}

#joinbtn {
   border: 1px solid #345c16;
   background: #68bb2d;
   background: -webkit-gradient(linear, left top, left bottom, from(#88d54d), to(#68bb2d));
   background: -webkit-linear-gradient(top, #88d54d, #68bb2d);
   background: -moz-linear-gradient(top, #88d54d, #68bb2d);
   background: -ms-linear-gradient(top, #88d54d, #68bb2d);
   background: -o-linear-gradient(top, #88d54d, #68bb2d);
   background-image: -ms-linear-gradient(top, #88d54d 0%, #68bb2d 100%);
   padding: 10.5px 21px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #9cdb6f 0 1px 0;
   color: #2d4e14;
   font-size: 16px;
   font-family: 나눔고딕;
   text-decoration: none;
   vertical-align: middle;
   }
#joinbtn:hover {
   border: 1px solid #345c16;
   text-shadow: #70c131 0 1px 0;
   background: #68bb2d;
   background: -webkit-gradient(linear, left top, left bottom, from(#88d54d), to(#68bb2d));
   background: -webkit-linear-gradient(top, #88d54d, #68bb2d);
   background: -moz-linear-gradient(top, #88d54d, #68bb2d);
   background: -ms-linear-gradient(top, #88d54d, #68bb2d);
   background: -o-linear-gradient(top, #88d54d, #68bb2d);
   background-image: -ms-linear-gradient(top, #88d54d 0%, #68bb2d 100%);
   color: #ffffff;
   }